* {
    color: rgba(0, 0, 25, 0.375);
    font-size: 1.1rem;
    font-weight: 900;
    text-shadow: .02rem .02rem .075rem rgb(255, 255, 255),
    -.015rem -.015rem .05rem rgba(0, 0, 25, 0.34);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(230, 230, 240);
    background-image: radial-gradient(ellipse at bottom right, rgb(210, 210, 220, 0), rgb(235, 235, 245, 0), rgb(210, 210, 220, .65)),
    radial-gradient(ellipse at top left, rgb(245, 245, 255, 0), rgb(235, 235, 245, 0), rgb(255, 255, 265, 0.75)),
    radial-gradient(ellipse at bottom right, rgb(210, 210, 220, 0), rgb(235, 235, 245, 0) 85%, rgb(210, 210, 220, .95)),
    radial-gradient(ellipse at top left, rgb(245, 245, 255, 0), rgb(235, 235, 245, 0) 85%, rgb(255, 255, 265, 0.9));
}

#calc-border {
    background-color: rgb(235, 235, 245);
    border-radius: .75rem;
    box-shadow: 
    inset -0.05rem -0.05rem .05rem 0rem rgb(225, 225, 235, .4),
    inset -0.55rem -0.55rem .35rem 0.0rem rgb(150, 160, 170, .4),
    inset -0.1rem -0.1rem .25rem 0rem rgb(150, 160, 170, .6),
    inset 0.05rem 0.05rem .05rem 0rem rgb(225, 225, 235, 0.05),
    inset 0.15rem 0.15rem .35rem 0.1rem rgb(255, 255, 255),
    inset 0.45rem 0.45rem .45rem 0.25rem rgb(245, 245, 250),
    0rem 0rem 3.5rem 0rem rgba(0, 0, 0, 0.1);
    background-image: radial-gradient(ellipse at bottom right, rgb(210, 210, 220, 0), rgb(235, 235, 245, 0) 60%, rgb(210, 210, 220, .15)),
    radial-gradient(ellipse at top left, rgb(245, 245, 255, 0), rgb(235, 235, 245, 0) 60%, rgb(245, 245, 255, .3));
}

#calc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    border: none;
}

#calc-background {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: 2rem 1.5rem;
}

#display-container {
    margin-top: .25rem;
    margin-bottom: 1.25rem;
    padding: .25rem;
    border-radius: .25rem;
    background-color: rgb(235, 235, 245);
    box-shadow: inset -0.15rem -0.15rem .15rem rgba(0, 34, 65, 0.12),
    0.075rem 0.075rem .1rem 0.04rem rgba(0, 34, 65, 0.12),
    inset 0.15rem 0.15rem .15rem rgb(255, 255, 255, .6),
    -.075rem -.075rem .1rem 0.04rem rgb(255, 255, 255, .6);

}

#display-readout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3rem;
    border-radius: .35rem;
    border: .2rem solid rgb(235, 235, 245);
    background-color: rgb(205, 205, 200);
    box-shadow: 
    inset 0.15rem 0.15rem .15rem 0rem rgba(0, 34, 65, 0.12),
    inset 0.05rem 0.05rem .05rem 0rem rgb(255, 255, 255, .75),
    inset 0.25rem 0.25rem .75rem rgba(0, 34, 65, 0.12),
    inset -0.05rem -0.05rem .05rem 0rem rgb(255, 255, 255, .75),
    inset 0rem 0rem .5rem .00rem  rgb(14, 14, 14, 0.05);
}

@font-face {
    font-family: Calculator;
    src: url('Segment7-4Gml.otf');
}

#readout {
    padding: .5rem;
    font-family: Calculator, sans-serif;
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 1.35rem;
    color: rgba(18, 18, 35, 0.658);
    text-shadow: none;
}

#button-section {
    /* padding: .55rem; */
    margin-bottom: .25rem;
    padding-top: 0px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .45rem;
    width: 15rem;
}

button {
    height: 3rem;
    background-color: rgb(235, 235, 245);
    background-image: radial-gradient(ellipse at bottom right, rgb(210, 210, 220, 0), rgb(235, 235, 245, 0) 60%, rgb(210, 210, 220, .25)),
    radial-gradient(ellipse at top left, rgb(245, 245, 255, 0), rgb(235, 235, 245, 0) 60%, rgb(245, 245, 255, .7));
    border-radius: .25rem;
    margin: 0px;
    padding: 0px;
    border-style: none;
    box-shadow: inset -0.15rem -0.15rem .15rem 0.1rem rgba(0, 34, 65, 0.12),
    0.05rem 0.05rem .15rem 0.01rem rgba(0, 34, 65, 0.12),
    inset 0.15rem 0.15rem .15rem 0rem rgb(255, 255, 255, 0.75),
    -0.055rem -0.055rem .2rem -0.01rem rgba(255, 255, 255, 0.85);
}

.operator {
    color: rgba(217, 134, 0, 0.921);
}

.function {
    color: rgba(24, 131, 153, 0.799);
}

button:active {
    font-size: 1.085rem;
    box-shadow: inset -0.18rem -0.18rem .15rem 0.1rem rgba(0, 34, 65, 0.1),
    0.05rem 0.05rem .15rem 0.01rem rgba(0, 34, 65, 0.1),
    inset 0.2rem 0.2rem .2rem 0rem rgb(255, 255, 255, 0.75),
    -0.075rem -0.075rem .2rem -0.01rem rgba(255, 255, 255, 0.75);
    background-image: radial-gradient(ellipse at bottom right, rgb(210, 210, 220, 0), rgb(235, 235, 245, 0) 20%, rgba(210, 210, 220, 0.736)),
    radial-gradient(ellipse at top left, rgb(245, 245, 255, 0), rgb(235, 235, 245, 0) 80%, rgb(245, 245, 255, 1));
}

#zero {
    grid-column: span 2;
}